**PANDAS CHEATSHEET**

In [ ]:
import numpy as np
import pandas as pd

***IMPORTING CSV FILE***

In [ ]:
data=pd.read_csv('dataset/matches.csv')
data

***IMPORTANT FUNCTIONS AND ATTRIBUTES***

In [ ]:
data.head() #previews top 5(default) or n rows in dataframe
data.tail() #previews bottom 5(default) or n rows in dataframe
data.shape #returns (rows,column) of dataframe
data.info() #shows info about dataframe
data.describe() #shows numericallly calculated info on dataframe
data['winner'].value_counts() #performs categorical calculations on objects
data.rename(columns={"date":"dom"}) #renaming the attributes

***FETCHING ROWS AND COLUMN***

In [ ]:
#fetching single column
data['winner'] 
data.iloc[:,6]

#fetching multiple column
data[['team1','team2','winner']]
data.iloc[:,[4,7,8]]

#fetching single row
data.iloc[0]

#fetching multiple rows
data.iloc[0:4]
data.iloc[[3,5,7,8]]

#fetching desired rows and column
data.iloc[3:5,[5,7,8]]

***FILTERING DATAFRAME ON CONDITION***

In [ ]:
#This is called masking.Filtering by boolean values.
mask1=data['city']=='Pune'
data[mask]

mask2=data['date']>'2016-05-22'

mask3=data[mask1 & mask2]
mask3

***PANDAS PLOT FUNCTION***

In [ ]:
win=data['winner'].value_counts()

#win.plot(kind='barh')

toss=data['toss_decision'].value_counts()
#toss.plot(kind='pie')

runs=data['win_by_runs']
runs.plot(kind='hist') #use hist for numerical values

***SERIES OPERATIONS***

In [ ]:
first=data['team1'].value_counts()
second=data['team2'].value_counts()

first.values #returns values of series in an array
first.index #returns index of series in an array

#calculating total matches played by teams

first+second #you can perform math operation if two series

***SORTING***

In [ ]:
#sort_values() works with both series and dataframe

data.sort_values('date') #default ascending=True and inplace=False(permanent change)

data.sort_values(['date','city'],ascending=[True,False]) #sort with multiple condition

***DROP DUPLICATES***

In [ ]:

data.drop_duplicates(subset='city') #keep=first(default)

#find winner of each season

data.drop_duplicates(subset='season',keep='last')[['season','winner']].sort_values('season')

***GROUP BY FUNCTION***

In [ ]:
#GROUP BY FUNCTION ON FORTUNE DATASET
fortune=pd.read_csv('dataset/fortune.csv',encoding='latin-1')

sector=fortune.groupby('Sector') #groups according to each sector in rows
sector.size().sort_values(ascending=False)
len(sector)
sector.first() #returns first company of every first sector
sector.groups #returns a dict in which every key is sector and their values are list of index of those companies in sector
sector.get_group('Apparel') #returns companies in that sector
sector['Revenues'].mean().sort_values(ascending=False) #returns series of sector revenue

In [ ]:
#GROUP BY FUNCTION ON IPL DATASET
deliveries=pd.read_csv('dataset/deliveries.csv')

batsman=deliveries.groupby('batsman') #groups all the batsman name and their columns
batsman['batsman_runs'].sum().sort_values(ascending=False).head() #returns top 5 most run scoring batsman

#finding top 5 batsman who scored most 4
mask=deliveries['batsman_runs']==4
new_deliveries=deliveries[mask] #we created new dataframe which has only four runs scored
new_batsman=new_deliveries.groupby('batsman')
new_batsman['batsman_runs'].count().sort_values(ascending=False).head(10)

#find aginst which three teams virat has scored max runs
vk=deliveries[deliveries['batsman']=='V Kohli']
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(3)


#Function which shows against which team which batsman scored the highest
def max_runs_scored(batsman_name):
  vk=deliveries[deliveries['batsman']==batsman_name]
  result=vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(3).index[2]
  return result

max_runs_scored('RG Sharma')

'Kings XI Punjab'

***isin()***

In [ ]:
#Find the most destructive batsman in death over


new_set = deliveries[deliveries['over']>15]
new_group = new_set.groupby('batsman')['ball'].count()

#list of batsman who has played more than 200 balls
batsman_200_balls=new_group[new_group > 200].index.tolist() 


#the final set is dataframe containing batsman who have played more than 200 balls
final_set = new_set[new_set['batsman'].isin(batsman_200_balls)]

balls_played=final_set.groupby('batsman')['ball'].count()
runs_scored=final_set.groupby('batsman')['batsman_runs'].sum()
strike_rate = (runs_scored/balls_played) *100
strike_rate.sort_values(ascending=False).head(3)

***Merge Function***

In [ ]:
#use this function when you have to join two dataframe
#make a list of orange cap players
new=data.merge(deliveries,left_on="id",right_on="match_id")
#using multi index groupby
#reset_index() converts series to dataframe

new.groupby(["season","batsman"])["batsman_runs"].sum().sort_values(ascending=False).reset_index().drop_duplicates(subset="season",keep="first")[["season","batsman"]]

***Pivot Table***

In [ ]:
#it summerizes the rows and columns in one datarframe

new_dataset=deliveries[deliveries["batsman_runs"]==6]
new_dataset.pivot_table(index="over",columns="batting_team",values="batsman_runs",aggfunc="count")

***Corr Function***

In [ ]:
#use corr fdunction if you want to deduce have two numerical values are varying

deliveries.corr()

***Set and reset index Function***

In [ ]:
#data.set_index("id",inplace=True) #changes the default index
#data.reset_index(inplace=True)

#reset_index also converts series to dataframe

data["winner"].value_counts().reset_index().set_index("index")

***Handling missing values***

In [ ]:
#dropna()
#if you want to delete the rows or column with NaN values use this

data.dropna(axis=0,how="any") #if any of the the column have Nan then delete that row

data.dropna(axis=1,how="all") #if all the the rows have NaN then delete that column

data.dropna(axis=1,how="all",subset=["winner","batsman"]) #delete column if all the values in winner or batsman is NaN

In [ ]:
#fillna()

#to replace the missing values use this

data['batsman'].fillna("Not specified")

data['batsman_runs'].fillna(method="ffill") #ffill stores behind value and bfill stores ahead value